.header-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  background-color: white;
  width: 100vw;
  max-width: 100%;
  height: 82px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 0 10px -3px black;
}

.header{
  display: flex;
  width: 100%;
  height:100%;
  flex-direction: row;
  justify-content: space-between;
}

.brand-logo {
  width: auto;
  height: 100%;
  display: flex;
  align-content: center;
}

.header-icons-row {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .header{
    width: 80%;
    margin: 0 auto;
    @apply px-24;
  }
}

@media screen and (min-width: 1640px) {
  .header{
    width: 65%;
  }
}
