.switch-container {
    @apply flex justify-center rounded-sm;
  }
  
  .switch-button {
    display: block;
    background-color: inherit;
    outline: none;
    cursor: pointer;
    height: 50px;
    width: 150px;
    @apply border-2 border-cba-blue font-body uppercase;
  }
  
  @media screen and (min-width:768px){
    .switch-button{
      width: 250px;
    }
  }
  
  .switch-button.active {
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.23);
    @apply text-white bg-cba-blue;
  }
  
  .switch-button:focus {
    outline: none;
  }
  
  .switch-right {
    border-radius: 0 4px 4px 0;
    @apply text-cba-blue;
  }
  
  .switch-left {
    border-radius: 4px 0 0 4px;
    @apply text-cba-blue;
  }
  