.card-button {
  width: 150px;
  padding: 8px 0;
  background: #03477a;
  border-radius: 4px;
  font-family: Prompt;
  font-weight: 500;
  font-size: 15px;
  color: white;
}

.card-button:hover {
  @apply bg-cba-light-blue;
}

.card-button:focus {
  @apply bg-cba-dark-blue;
}

.disabled {
  background-color: #777777;
}

.disabled:hover {
  @apply bg-cba-disabled;
}

.alert {
  background-color: #ff0f0f;
}
.alert:hover {
  background-color: #ff0f0f;
}

