.logo {
  width: 150px;
  animation: heartbeat;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
}

@keyframes heartbeat {
  0%, 100% {
    width: 150px;
  }
  50% {
    width: 180px;
  }
}
