.background {
  margin-top: -82px;
  padding-top: 82px;
  background: url('/svgs/white-pattern.svg');
  @apply w-screen max-w-full h-screen bg-cba-yellow bg-center bg-cover flex justify-center;
}

.cardContainer {
  height: 100%;
  position: relative;
}

.card {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 70vh;
  width: 80vw;
  backdrop-filter: blur(10px);
  @apply flex flex-row absolute bg-white bg-opacity-75;
}

@media screen and (min-width: 1440px){
  .card{
    width: 65vw;
  }
}