.dd-header {
  border-radius: 4px;
  height: 60px;
  width: 300px;
  @apply pl-2 border-2 cursor-pointer border-cba-blue items-center flex-row flex justify-between;
}

.arrow-bg {
  border-radius: 4px;
  width: 60px;
  height: 60px;
  @apply bg-cba-blue flex justify-center items-center;
}

.dd-list {
  z-index: 1;
  width: 300px;
  @apply h-auto bg-white px-4 absolute border-cba-blue border-solid border-r-2 border-b-2 border-l-2;
}

@media screen and (min-width: 768px) {
  .dd-list {
    top: 60px;
  }
}

.dd-list-item {
  @apply flex items-center px-2 py-3 border-cba-blue border-solid border-b;
}

.dd-list-item:last-child {
  @apply border-none;
}

.dd-list-item.active {
  @apply -mx-4 px-6  bg-cba-blue bg-opacity-10;
}

.divider {
  @apply h-px bg-cba-blue ;
}
