.unsubscribe-section {
  position: absolute;
  height: auto;
  top: 82px;
  left: 0;
  z-index: 4;
  background-color: white;
  width: 100vw;
  max-width: 100%;
  padding: 20px;
}

@media screen and (min-width: 1024px) {
  .unsubscribe-section {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 800px;
    height: 550px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  .unsubscribe-section-container {
    margin-top: 82px;
    width: 100%;
    height: calc(100vh - 82px);
    position: absolute;
    top: 0;
    z-index: 4;
    background-color: rgba(255, 255, 255, 0.69);
    backdrop-filter: blur(30px);
  }
}
