.dd-header {
  border-radius: 4px;
  height: 60px;
  width: 300px;
  cursor: pointer;
  @apply pl-2 border-2 border-cba-blue items-center flex-row flex justify-between;
}

.dd-title {
  @apply text-cba-blue text-lg text-opacity-50;
}

.arrow-bg {
  border-radius: 4px;
  width: 60px;
  height: 60px;
  @apply bg-cba-blue flex justify-center items-center;
}

.dd-list {
  z-index: 1;
  width: 300px;
  @apply h-auto bg-white absolute  border-cba-blue border-solid border-r-2 border-b-2 border-l-2;
}

@media screen and (min-width: 768px) {
  .dd-list {
    top: 60px;
  }
}

.calendarTile{
  @apply bg-cba-blue;
}
