.card {
  height: calc(90vw * 150 / 335);
  @apply relative m-3;
}

.card-content {
  top: 50%;
  transform: translateY(-50%);
  height: calc(75vw * 110 / 250);
  @apply absolute flex flex-col justify-between w-4/5 p-10px bg-white right-0 shadow-lg rounded;
}

@media screen and (min-width: 512px) {
  .card {
    width: 400px;
    height: calc(400px * 150/ 335);
    margin-right: auto;
    margin-left: auto;
  }
  .card-content {
    width: 300px;
    height:  calc(300px* 110 / 250);;
  }
}

@media screen and (min-width: 768px) {
  .card {
    height: 150px;
    width: 335px;
    margin-right: auto;
    margin-left: auto;
  }
  .card-content {
    height: 110px;
    width: 250px;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    height: 150px;
    width: 300px;
    margin: 0 auto;
  }

  .card-content {
    height: 135px;
    width: 250px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
}
