.header {
  border-radius: 0 0 20px 20px;
  @apply w-screen max-w-full fixed top-0 left-0 bg-white z-10 shadow-lg h-82px px-5 py-3 flex justify-between items-center;
}

.brand-logo {
  width: auto;
  height: 100%;
  display: flex;
  align-content: center;
}
