.footerSection {
  margin-top: 100px;
  width: 100vw;
  max-width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
  background: url('/svgs/yellow-pattern.svg');
  background-color: white;
  background-position: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.logo {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 15px;
}
