.footer {
  height: 52px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
  border-radius: 30px 30px 0px 0px;
  @apply w-screen max-w-full fixed py-3 bg-white z-10 px-5 left-0 bottom-0 flex justify-evenly;
}

.footerIcon {
  height: 26px;
  width: 26px;
}
.addStudent {
  transform: scaleX(-1);
}
