.headSection {
  margin: 0 auto;
  width: 100vw;
  max-width: 100%;
  text-align: center;
  padding: 0 3vw;
  padding-top: 30px;
  padding-bottom: 20%;
  background: url('/svgs/yellow-pattern.svg');
  background-position: center;
}

.wave {
  transform: scaleX(-1);
  height: 13.5%;
  bottom: -22px;
  @apply absolute w-screen max-w-full bg-cover bg-center bg-no-repeat left-0;
}


.featureImage {
  flex-grow: 3;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 512px) {
  .wave {
    height: 16%;
  }
}

@media screen and (min-width: 640px) {
  .wave {
    height: 20%;
  }
}

@media screen and (min-width: 768px) {
  .wave {
    height: 24%;
    bottom: -50px;
  }
}

@media screen and (min-width: 1024px) {
  .headSection {
    background: none;
    padding-bottom: 100px;
    @apply flex flex-row-reverse justify-center items-center;
  }

  .wave {
    height: 36%;
    bottom: -100px;
    background-size: contain;
  }

}

@media screen and (min-width: 1280px) {
  .headSection {
    width: 80%;
  }

  .wave {
    height: 46%;
    bottom: -120px;
    background-size: contain;
  }


  .featureImage{
    width:65%
  }
}

@media screen and (min-width: 1640px) {
  .headSection {
    width: 65%;
    padding-top: 5%;
    padding-bottom: 15%;
  }

  .wave {
    height: 62%;
    bottom: -20%;
  }
}

