.pop-up {
  position: absolute;
  background: white;
  border-radius: 4px;
  padding: 0 40px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

.pop-up-container {
  backdrop-filter: blur(30px);
  @apply w-screen max-w-full h-screen bg-white bg-opacity-50 fixed z-10;
}
