.back-to-top {
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  @apply text-cba-blue
}

.back-to-top:focus{
    @apply bg-cba-blue text-white;
}
