.card{
    width: 305px;
    height: 106px;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin: 10px 15px 10px 0;
    padding: 10px;
    display: inline-block;
    white-space: normal;
}