.question {
  position: relative;
  background-color: #f9b81e;
  cursor: pointer;
  padding: 10px 18px;
  padding-right: 50px;
  border: none;
  font-family: Prompt;
  font-size: 15px;
  color: #000;
  text-align: left;
  outline: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  margin: 20px auto 0 auto;
  max-width: 85%;
  @apply flex;
  @apply justify-between;
}

.question:focus{
  outline: none;
}

.panel {
  padding: 0 18px;
  display: block;
  background-color: #ffe29d;
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms ease-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.13);
  border-radius: 0 0 4px 4px;
  max-width: 85%;
  margin: 0 auto;
}

@media screen and (min-width: 1024px){
  .question, .panel{
    margin: 0;
    width:100%;
  }
}

.button-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 0;
  width: auto;
  height: auto;
}
