.unsubscribe {
  transform: translateX(-50%);
  left: 50%;
  @apply text-cba-blue text-center absolute bottom-0;
}

.carousel-wrap {
  @apply overflow-auto whitespace-no-wrap;
}

.carousel-wrap::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 768px) {
  .unsubscribe {
    position: absolute;
    transform: translate(0);
    right: 0;
    top: 0;
    margin-top: 10px;
    text-align: end;
  }
}
