.card {
  background: white;
  display: inline-block;
  width: 250px;
  height: 150px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  border: 2px solid #03477A;
  margin-right: 15px;
  margin-bottom: 40px;
  margin-top: 25px;
  box-sizing: border-box;
  white-space: normal;
  padding: 15px;
  overflow: hidden;
}

@media screen and (min-width:1024px){
  .card{
    width: 300px;
    margin: 0 auto;
  }
}

@media screen and (min-width:1280px){
  .card{
    width: 320px;
    margin: 0 auto;
  }
}