.learningCategory {
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .learningCategory {
    @apply w-1/2;
  }
}

@media screen and (min-width: 1024px) {
  .learningCategory {
      @apply w-1/3;
  }
}

.image {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
