.pop-up{
    position: absolute;
    background:white;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}