.schedule-section{
    @apply flex flex-col px-5 py-12 w-screen max-w-full;
}

@media screen and (min-width:768px){
  .schedule-section{
    width:90%;
    margin: 0 auto;
    flex-direction: row;
    @apply px-0;
  }
}

@media screen and (min-width:1024px){
  .schedule-section{
    @apply px-6;
  }
}

@media screen and (min-width:1280px){
  .schedule-section{
    width: 80%;
    margin:0 auto;
    @apply pl-16;
  }
}

@media screen and (min-width:1640px){
  .schedule-section{
    width: 65%;
    margin:0 auto
  }
}

.schedule-item {
  @apply flex justify-start mx-auto items-center h-auto;
}

.item-img {
  @apply h-6 w-6 mr-3;
}
