.booking-info {
  font-size: 15px;
  @apply font-body font-bold text-center text-cba-disabled block uppercase mb-3 tracking-widest;
}

.reviews-wrapper {
  @apply overflow-auto whitespace-no-wrap;
}
.reviews-wrapper::-webkit-scrollbar {
  display: none;
}
