<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      font-weight: 500;
      font-size: 7px;
      -webkit-print-color-adjust: exact;
      box-sizing: border-box;
    }
  </style>
</head>

<body style="font-family: sans-serif; color: #212121">
  <center>
    <h1>Bill of Supply</h1>
  </center>
  <!-- lading section -->
  <section style="
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
      ">
    <!-- COMPANY DETAILs -->
    <div style="flex-grow: 2">
      <!-- <img width="100" height="100" src="https://techcrunch.com/wp-content/uploads/2018/07/logo-2.png?w=300" /> -->
      <h3 style="text-align: left; margin: 0; text-transform: uppercase">
        <strong>Chalkboard Academy</strong>
      </h3>

      <div style="text-align: left; color: gray; font-weight: 300">
        <p style="margin: 5px 0">
          Kharadi Road,
        </p>
        <p style="margin: 5px 0">Pune, 411014</p>
        <p style="margin: 5px 0">GSTIN : N/A</p>
        <p style="margin: 5px 0">State : Maharashtra, Code:27</p>
        <!-- <p style="margin: 5px 0">raveeshr503@gmail.com</p> -->
      </div>
    </div>
    <!-- invoice dates -->
    <div style="
          flex-grow: 1;
          font-weight: 300;
          color: gray;
          text-transform: uppercase;
        ">
      <div style="display: grid; grid-template-columns: 1fr 1fr">
        <p style="text-align: right; margin: 0">invoice no.&:</p>
        <p style="
              text-align: right;
              margin: 0;
              color: #212121;
              font-weight: bold;
            ">
          {{invoice_number}}
        </p>
      </div>
      <div style="
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 20px;
          ">
        <p style="text-align: right; margin: 0">date:</p>
        <p style="
              text-align: right;
              color: #212121;
              font-weight: bold;
              margin: 0;
            ">
          {{date}}
        </p>
      </div>
    </div>
  </section>


  <!-- table of items -->
  <section>
    <table style="width: 100%; padding: 20px">
      <tr style="
            text-align: right;
            outline: none;
            border: none;
            text-transform: uppercase;
          ">
        <th></th>
        <th style="text-align: left">item details</th>
        <!-- <th>hsn/ac</th> -->
        <th>payment type</th>
        <th>price</th>
      </tr>
      <!-- items -->
      <tr style="color: grey; text-align: right">
        <td style="
              border: 1px solid #c4c4c4;
              text-align: center;
              border-bottom-left-radius: 10px;
              border-top-left-radius: 10px;
            ">
          <p style="margin: 0">1</p>
        </td>
        <!-- item details -->
        <td style="border: 1px solid #c4c4c4; text-align: left">
          <p style="margin: 0">{{course_name}}</p>
          <!-- <span style="margin: 0">Milestone 01: 19th oct, 2020</span> -->
        </td>
        <!-- hsn/ac -->
        <!-- <td style="border: 1px solid #c4c4c4"></td> -->
        <!-- rate -->
        <td style="border: 1px solid #c4c4c4">
          <p style="margin: 0">{{payment_type}}</p>
        </td>
        <!-- price -->
        <td style="
              border: 1px solid #c4c4c4;
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
            ">
          <p style="margin: 0">₹{{price}}</p>
        </td>
      </tr>
    </table>
  </section>

  <!-- pricing -->
  <section style="display: grid; grid-template-columns: 1fr 1fr; padding: 0 20px">
    <!-- total Amount in text -->
    <p style="margin: 0; font-weight: 300; color: gray">
      Total Amount :
      <strong style="color: #212121 ; text-transform: capitalize">{{price_in_text}} Rupees Only</strong>
    </p>
    <!-- subtotal & total -->
    <div style="text-transform: uppercase">
      <!-- <div style="
            display: flex;
            justify-content: space-between;
            font-weight: 300;
            margin-bottom: 15px;
          ">
        <p style="color: gray; margin: 0">sub total</p>
        <p style="margin: 0"><strong>₹{{sub_total}}</strong></p>
      </div> -->
      <hr style="color: gray" />
      <div style="
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: 1.5rem;
          ">
        <p style="margin: 0">total</p>
        <p style="margin: 0">₹{{total}}</p>
      </div>
    </div>
  </section>
  <!-- Declaration -->
  <section style="display: flex; padding: 20px; justify-content: center">
    <!-- declaration -->
    <div style="text-align: left; flex-grow: 1">
      <h3>Declaration</h3>
      <h4 style="color: gray; font-weight: 300">
        We declare that this invoice shows the actual proce of the goods
        described and <br> that all particulars are true and correct
      </h4>
    </div>
    <!-- authorization -->
    <div style="text-align: right; flex-grow: 1; font-weight: 300">
      <p>
        For
        <strong style="text-transform: uppercase">Chalkboard Academy</strong>
      </p>
      <!-- <img height="70px" width="200px" 
        src="https://www.tiikr.com/wp-content/uploads/2018/01/wet_digital_signature.jpg" />  -->
      <p>Authorized signatory</sp>
    </div>
  </section>
  <center><span style="color: gray;">This is a computer generated invoice</span></center>
</body>

</html>
