.reason,
.reasonReverse {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 220px;
  height: 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .reason {
    flex-direction: row;
  }

  .reasonReverse {
    flex-direction: row-reverse;
  }

  .image {
    width: 330px;
    height: 226px;
  }
}

@media screen and (min-width: 1024px) {
  .reason,
  .reasonReverse {
    @apply w-1/3;
  }
}
