.image-bg {
  height: 300px;
  margin-top: -82px;
  @apply bg-no-repeat bg-cover bg-center w-full relative overflow-hidden;
}

.wave {
  transform: scale(-1, -1);
  height: 30%;
  bottom: -20px;
  @apply absolute w-screen max-w-full bg-contain bg-center bg-no-repeat left-0;
}

@media screen and (min-width: 512px) {
  .wave {
    height: 48%;
    bottom: -30px;
  }
}

@media screen and (min-width: 640px) {
  .wave {
    height: 58%;
    bottom: -68px;
  }
}

@media screen and (min-width: 768px) {
  .image-bg {
    height: 400px;
  }

  .wave {
    height: 48%;
    bottom: -70px;
  }
}

@media screen and (min-width: 1024px) {
  .image-bg {
    height: 500px;
  }
  .wave {
    height: 60%;
    bottom: -100px;
  }
}

@media screen and (min-width: 1600px) {
  .image-bg {
    height: 700px;
  }
  .wave {
    height: 80%;
    bottom: -260px;
  }
}

@media screen and (min-width: 3000px) {
  .wave {
    height: 85%;
  }
}
