.mobileNav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  background: url('/svgs/nav-white-pattern.svg');
  background-position: center;
  background-color: #f9b81e;
  transition: all 300ms ease-in-out;
}

.nav-links-wrap{
    width: 100%;
    height: calc(100vh - 8rem);
    @apply absolute top-0 left-0 mt-32 flex flex-col items-center justify-between;
}