.loader-container {
  width: 100%;
  height: 2px;
  position: relative;
  overflow: hidden;
  @apply bg-cba-blue bg-opacity-10;
}

.loader {
  position: absolute;
  width: 100%;
  height: 4px;
  @apply bg-cba-blue;
  animation: runner 1240ms ease-in-out infinite;
}

@keyframes runner {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
