.cbaButtonBlue {
  width: 290px;
  background: #03477a;
  border-radius: 4px;
  font-family: Prompt;
  border: none;
  color: white;
  padding: 14px;
  letter-spacing: 0.05rem;
}

.cbaButtonBlue:hover {
  @apply bg-cba-light-blue;
}

.cbaButtonBlue:focus {
  @apply bg-cba-dark-blue;
}

.headSectionButton {
  margin: 0 auto;
  display: block;
}

.disabled {
  background-color: #777777;
}

.disabled:hover {
  @apply bg-cba-disabled;
}

.alert {
  background-color: #ff0f0f;
}
.alert:hover {
  background-color: #ff0f0f;
}
