
.selected-category-button {
    @apply text-white bg-cba-blue;
}
.selected-category-button:focus {
    @apply outline-none;
}
.unselected-category-button:focus{
    @apply outline-none;
}
.unselected-category-button {
    @apply text-cba-blue bg-white;
}

/* Apply for both buttons  */
.select-category-button {
    @apply border-2 flex-1 border-cba-blue py-2 px-1 text-sm uppercase;
}

