.circular-progressbar {
  width: 60px;
  height: 60px;
  @apply right-0 flex flex-col items-center;
}

.teacher-detail-row {
  @apply flex justify-start w-full h-auto mt-2 mb-8;
}

.teacher-img {
  @apply bg-cba-dark-gray bg-opacity-5 h-12 w-12 mr-3 bg-contain bg-no-repeat bg-center;
}
