.background {
  background: url('/svgs/yellow-pattern.svg');
  background-position: 'center';
  background-size: 'cover';
  background-attachment: 'fixed';
  @apply relative h-screen px-10 w-screen max-w-full flex flex-col justify-center items-center;
}

