.pop-up-container {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.69);
  backdrop-filter: blur(30px);
}

.pop-up {
  position: absolute;
  background: white;
  padding: 0 20px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
