.learningCategories {
  width: 100vw;
  max-width: 100%;
  padding: 22% 14.5vw;
  height: auto;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.wave {
  transform: scaleX(-1);
  height: 5%;
  bottom: -22px;
  @apply absolute w-screen max-w-full bg-cover bg-center bg-no-repeat left-0;
}

.wave:first-child {
  transform: scaleY(-1);
  top: -22px;
}

@media screen and (min-width: 512px){
  .wave{
    height: 10%;
  }
}

@media screen and (min-width: 768px) {
  .learningCategories {
    padding: 20% 72px;
  }

  .wave {
    height: 13.5%;
    bottom: -50px;
  }

  .wave:first-child {
    top: -60px;
  }
}

@media screen and (min-width: 1024px) {
  .learningCategories {
    padding: 20% 72px;
  }

  .wave {
    height: 23.5%;
    bottom: -80px;
  }

  .wave:first-child {
    top: -80px;
  }
}

@media screen and (min-width: 1280px) {
  .learningCategories {
    width: 80%;
    padding: 160px 70px;
  }

  .wave {
    height: 300px;
    bottom: -150px;
  }

  .wave:first-child {
    height: 300px;
    top: -150px;
  }
}

@media screen and (min-width: 1640px) {
  .learningCategories {
    padding: 20% 200px;
  }
  .wave {
    height: 500px;
    bottom: -200px;
  }

  .wave:first-child {
    height: 500px;
    top: -200px;
  }
}
