.faqSection{
    background-color: #F9B81E;
    padding: 47px 14.5px;
    text-align: center;
    /* TODO: remove this margin when teachers section is back */
    margin-bottom: -120px;
}

@media screen and (min-width: 1280px){
    .faqSection{
        padding-left: 10%;
        padding-right: 10%;
    }
}