.whyCBAWrap{
  background: #f9b81e;
}
.whyCBA {
  width: 100vw;
  max-width: 100%;
  padding: 40px 14.5vw;
  height: auto;
  margin: 0 auto;
}

@media screen and (min-width: 768px){
  .whyCBA{
    padding:40px 72px;
  }
}

@media screen and (min-width: 1280px) {
  .whyCBA{
    width: 80%;
    margin: 0 auto;
    @apply px-24;
  }
}

@media screen and (min-width: 1640px) {
  .whyCBA{
    width: 65%;
  }
}


