.headerNav {
  @apply font-body uppercase font-medium text-base text-cba-blue pl-5;
}

@media screen and (max-width: 1023px) {
  .headerNav {
    @apply hidden;
  }
}

.headerNav:hover {
  color: #f9b81e;
}

.header-icon:active {
  color: #f9b81e;
}

.header-icon {
  width: auto;
  height: auto;
  padding: 0 15px;
}

.header-icon:hover {
  color: #f9b81e;
}
