.heading2 {
  @apply text-5xl text-cba-dark-gray;
}

.heading3 {
  @apply text-5xl font-bold;
}

.heading4 {
  @apply font-bold text-4xl;
}

@media screen and (min-width: 768px) {
  .heading4 {
    letter-spacing: -0.5px;
    line-height: 67px;
    @apply text-5xl;
  }
}

@media screen and (min-width: 1280px) {
  .heading4 {
    letter-spacing: -0.5px;
    line-height: 67px;
    @apply text-5.6xl font-normal;
  }
}

.heading4White {
  font-weight: bold;
  font-size: 33px;
  color: #ffffff;
}

.heading5 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.heading6 {
  @apply font-bold text-xl;
}

.body2 {
  font-family: Prompt;
  font-weight: normal;
  font-size: 15px;
  margin: 0;
}

.body1 {
  font-family: Prompt;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}

.subtitle1 {
  @apply text-base;
}

.subtitleS {
  @apply text-sm text-black;
}

.caption {
  font-family: Prompt;
  font-weight: normal;
  font-size: 13px;
}

.overline {
  font-family: Prompt;
  font-size: 11px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.cbaButtonBlue {
  display: block;
  width: 300px;
  background: #03477a;
  border-radius: 4px;
  font-family: Prompt;
  border: none;
  color: white;
  padding: 14px;
  text-transform: uppercase;
  margin: 0 auto;
}

.divider {
  height: 20px;
}

.text-field {
  width: 300px;
  height: 60px;
  @apply shadow border-cba-blue text-cba-blue border-2 rounded-md px-3;
}

.text-field-half {
  width: 145px;
  height: 60px;
  @apply shadow border-cba-blue text-cba-blue border-2 rounded-md px-3;
}

.text-area {
  width: 300px;
  height: 180px;
  padding-top: 15px;
  padding-left: 15px;
  @apply shadow border-cba-blue text-cba-blue border-2 rounded-md px-3;
}

.text-field:focus,
.text-field-half:focus,
.text-area:focus {
  outline: none;
  @apply border-cba-yellow;
}

@media screen and (min-width: 768px) {
  .text-area {
    width: 622px;
  }
}

.yellow-pattern-background {
  height: 100vh;
  background-color: white;
  background-image: url('/svgs/yellow-pattern.svg');
  background-position: 'center';
  background-attachment: 'fixed';
}

@media screen and (min-width: 1024px) {
  .yellow-pattern-background {
    background: none;
  }
}
