.wave {
  transform: scaleY(-1);
  height: 100px;
  top: -20px;
  @apply absolute w-screen max-w-full bg-cover bg-center bg-no-repeat left-0;
}

@media screen and (min-width: 768px) {
  .wave {
    height: 150px;
    top: -60px;
  }
}


@media screen and (min-width: 1024px) {
  .wave {
    height: 200px;
    top: -80px;
  }
}

@media screen and (min-width: 1280px) {
  .wave {
    height: 280px;
    top: -120px;
  }
}

@media screen and (min-width: 1640px) {
  .wave {
    height: 500px;
    top: -220px;
  }
}
